package login

import (
	"github.com/shopd/shopd/www/view"
)

templ Index(model view.Content) {
	<div>
	TODO Request GET /api/login on page load to show login form.
	Form actions are different if there's an existing session
	</div>
}
